html{
    height: 100%;
    width: 100%;
}
body {
    background-image: url("./assets/sky.jpg");
    background-size: 200px;
    font-family: "Comic Sans MS", "Comic Sans";
    font-size: xx-large;
    animation: scrolling 20s linear infinite;
    overflow: hidden;
}

@keyframes scrolling {
    from {
      background-position: 0 0;
    }
  
    to {
      background-position: 0px 194px;
    }
  }

.flowers {
    display: flex;
    font-size: 20pt;
    justify-content: center;
    align-items: center;
}

.flowers img {
    width: fit-content;
}

.navbar {
    border: 5px outset rgb(190, 112, 11);
    background-color: rgba(255, 217, 0, 0.294);
    border-radius: 10px;
    padding: 10px 5px;
    width: fit-content;
    text-align: center;
    margin: 10px auto;
    padding: 5px 10px;
    font-size: medium;
}

.header {
    background-image: url("./assets/papyrus.jpg");
    width: 90vw;
    justify-content: space-evenly;
    margin: 10px auto;
    padding-bottom: 8px;
    border-radius: 10px;
    align-self: center;
}